# --------------------------------------------------------------------
# deps and build/test results
node_modules
/_npm-lib

# --------------------------------------------------------------------
# Junk
.DS_Store
yarn-debug.log*
yarn-error.log*
npm-debug.log*
/.rpt2_cache

# --------------------------------------------------------------------
# Ingore remains of old yarn+ospec setup

/dist
/__tests
/testing/__tests
/.yarn*
/yarn.lock
/.pnp.*
